.productContainer{
    min-width: 210px;
    max-width: 300px;
    background-color: rgba(211, 211, 211, 0.645);
    /*background-color:var(--);*/
    display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    border-bottom: 1px solid var(--suede);
    border-radius: 1rem;        
}
