/*
.sidebar{
    position: fixed;
    width: 15%;
    height: 100vh;
    min-width: 15rem;
}

.nav{
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 25%;
    display: flex;
        flex-direction: column;
}

.nav ul{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.nav li{
    padding: 0;
    margin: 0;
}
*/