#passwordUpdateContainer {
    width: calc(100% - 2rem);
    margin: 1rem;
    border-radius: 1rem;
    border-bottom: 1px solid var(--suede);
    display: flex;
       flex-direction: column;
   background-color: var(--lightSlate);
}
.passwordInfo .subHeadings {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: var(--white);
    font-weight: 600;
}

.passwordInfo {
    /*width: calc(100% - 2rem);*/
    margin-left: 1rem;
    padding-bottom: 0.8rem;
    display: flex;
       flex-direction: column;
}

#passwordUpdateContainer form {
    width: calc(100% - 2rem);
    margin-left: .5rem;
    display: flex;
        flex-direction: column;
}

#passwordUpdateContainer form input{
    color: var(--slate);
    
}

#passwordUpdateContainer form button{
   margin-top: 0.6rem;
   background-color: transparent;
   border: none;
   font-size: 0.8rem;
   text-align: right;
}

.passwordError {
    margin-bottom: 0.3rem;
    color:rgb(218, 153, 32);
}

#passwordUpdate {
    margin-bottom: 0.3rem;
}
