.burgerContainer {
    /*position:fixed;*/
    position: relative;
    background-color: var(--lightGrey);
    width: fit-content;
    height: fit-content;
    border: solid 1px var(--white);
    border-radius: 100%;
    /*top: 33%;
    left: .4rem*/
    /*right: 3rem;*/
}

.burgerContainer:hover {
    background-color: var(--grey);
}

/* Position and sizing of burger button */
.bm-burger-button {
    position:relative;
    width: 36px;
    height: 30px;
    margin: .8rem;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: var(--white);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #fff;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
   /*
    height: 28px;
    width: 28px;
    */
    width: 1rem;
    height: 1rem;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: var(--white);
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: var(--grey);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: var(--white);
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .menu-item {
      font-size: 1.5rem;
      padding-bottom: 1rem;
  }