#footer{
    background-color: lightslategrey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
}

#companyName{
    margin-left: 2rem;
}

#footer ul{
    list-style: none;
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#footer li {
    margin-right: 1rem;
}

#footer a{
    color: white;
}