#footer {
    display: flex;
        flex-direction: column;
        align-items: center;
    }

#footerCompanyName {
    margin-top: 2rem;
    font-family: var(--headings-font-family);
    font-weight: 400;
    font-size: 1.5rem;
}

#footerInfoContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--lightSlate);
}

#footerNav {
    display: flex;
        flex-direction: column;
        align-items: center;
}

#footerNav h3 {
    margin-bottom: .2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

#footerNav a {
    margin-top: 0.1rem;
    font-size: 0.8rem;
    
}

#contactContainer {
    margin-top: 1rem;
    display: flex;
        flex-direction: column;
        align-items: center;
}

#contactContainer h3 {
    margin-bottom: .2rem;
    font-size: 1.1rem;
    font-weight: 500;
}

#contactContainer p {
    margin-top: 0.1rem;
    font-size: 0.8rem;
    font-style: italic;
}

#addressContainer {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

#addressContainer p{
    font-style: normal;
}

#socialMediaContainer {
    margin-top: 1rem;
    text-align: center; 
}

#socialMediaContainer h3{
    margin-bottom: 0.2rem;
    text-align: center; 
}

#socialMediaContainer div{
    display: flex;
        justify-content: space-evenly;
}

#footer p{
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    font-size: 0.6rem;
}