#homecontainer{
    display: flex
}

.contentBody{
    position: relative;
    width: 85%;
    float: right;
    height: 100vh;
}

#productListContainer{
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}