@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Merriweather:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #f5f5f5;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}
/*
h1 {
  color: whitesmoke;
}

.appContainer {
  background-color: darkslategrey;
}
*/
