@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Merriweather:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

:root {
  --lightSlate: #778899;
  --slate: #708090;
  --white: #f5f5f5;
  --suede: #c5bbb1;
  --darkSlate: #2f4f4f;
  background-color: var(--suede);

}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--white);
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}

.contentBody {
  padding-top: 180px;
}
/*
.viewContainer {
  max-width: 100vw;
  padding: 0rem 0rem 0rem 4.8rem;
  /*background-color: white;
}
*/
.contentContainer {
  background-color: var(--white);
  border-radius: 0rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow: hidden;
  padding-left: 4.8rem;
}

@media only screen and (min-width: 767px) {

  .viewContainer {

  }
  
  .contentContainer {
    padding-left: 0;
  }
}
