@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Merriweather:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

:root {
  --lightSlate: #778899;
  --slate: #708090;
  --white: #f5f5f5;
  --suede: #c5bbb1;
  --darkSlate: #2f4f4f;
  background-color: var(--suede);
  --headings-font-family: 'Merriweather', serif;
  --page-text-font-family: 'Merriweather Sans', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--white);
  font-family: var(--page-text-font-family);
  text-decoration: none;
}

.contentBody {
  margin-top: 183.68px;
  display: flex;
      flex-direction: column;
      align-items: center;
}

.contentContainer {
  background-color: var(--white);
  border-radius: 0rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-bottom: 1px solid var(--lightSlate);
  overflow: hidden;
  padding-left: 4.8rem;
  padding-bottom: 2rem;
}

.subHeadings {
  color: var(--slate);
  font-family: var(--page-text-font-family);
  font-weight: 400;
  padding-top: .6rem;
  padding-left: 1rem;
  width: 212px;
}

@media only screen and (min-width: 336px) {

  .contentBody {
      margin-top: 143.68px;
  }

  .subHeadings {
    font-size: 1.1rem;
    width: 228px;
  }
}

@media only screen and (min-width: 414px) {

  .subHeadings {
    font-size: 1.3rem;
    width: 300px;
  }
}

@media only screen and (min-width: 767px) {

  .contentBody {
    margin-top: 51.52px;
  }

  .contentContainer {
    padding-left: 0;
    
  }

  .subHeadings {
    width: 648px;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1000px) {

  .subHeadings {
    padding-top: 1rem;
    width: 932px;
  }
}

@media only screen and (min-width: 1350px) {

  .subHeadings {
    padding-top: 2rem;
    width: 1280px;
  }
}

@media only screen and (min-width: 1650px) {

  .subHeadings {
    width: 1596px;
  }
}
