#header{
    background-color: #778899;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
}

#companyName {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 2rem;
    width: 100vw;
    text-align: center;
    margin-top: .3rem;
    margin-bottom: .5rem;
}

.navLink:hover {
    background-color: #708090;
}

@media only screen and (max-width: 400px) {
  
    .navMenu {
        width: 100vw;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            /*justify-content: space-evenly;
            align-items: center;*/
        
        
    }

    .navLink {
        padding-right: .5rem;
        padding-left: .5rem;
        border-right: 1px solid #f5f5f5;
       
    }

}