
#shopPath {
    width: 100%;
    margin-top: 1rem;
}

#shopPath h2{
    width: 100%;
    padding: 0;
    text-align: left;
}

#productInfoContainer {
    max-width: calc(100% - 2rem);
    display: flex;
        flex-direction: column;
        align-items: center;
}

#productBody p {
    color: var(--slate);
}

#productBody img{
    border-radius: 1rem; 
 }

#productImage {
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin-top: 1rem;
}

#namePrice {
    width: 100%;
    margin-top: 1rem;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
}

#addBasket{
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
}

#addBasket label {
    color: var(--slate);
}

#quantity {
    color: var(--slate);
    border: 0.7px solid var(--slate);
    border-radius: 0;
}

#quantity option{
    color: var(--slate);
}

#addCartBtn {
    color: var(--slate);
    height: calc(22px + (0.698px * 2));
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    border: 0.7px solid var(--slate);
    border-radius: 0;
}

#productDescription {
    margin-top: 1rem;
}

#productBodyC{
    width: 100%;
}

#imageList{
    width: 100%;
    margin-top: 1rem;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.imagePreview {
    width: 100px;
    height: 100px;
}

@media only screen and (min-width: 414px) {

    .imagePreview {
        width: 140px;
        height: 140px
    }

}

@media only screen and (min-width: 767px) {
    #productBody {
        width: 70vw;
        margin-top: 0;
        margin-left: 15vw;
    }

    #productBodyA {
        display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
    }

    #productBodyB {
        display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
    }

}

@media only screen and (min-width: 1000px) {
    #productBodyA {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    #shopPath h2 {
        font-size: 1.2rem;
    }

    #productBodyB {
        margin-left: 2rem;
    }

    #imageList{
            width: 400px;
    }

}

@media only screen and (min-width: 1350px) {
    
    #productBody {
        width: 60vw;
        margin-left: 20vw;
    }
}


